data
./**/data

*.class
*.log

# sbt specific
spark/PayTmChallenge/.cache/
spark/PayTmChallenge/.history/
spark/PayTmChallenge/.lib/
spark/PayTmChallenge/dist/*
spark/PayTmChallenge/target/
spark/PayTmChallenge/lib_managed/
spark/PayTmChallenge/src_managed/
spark/PayTmChallenge/project/boot/
spark/PayTmChallenge/project/plugins/project/
spark/PayTmChallenge/project/target

spark/PayTmChallenge/.idea/**/workspace.xml
spark/PayTmChallenge/.idea/**/tasks.xml
spark/PayTmChallenge/.idea/**/usage.statistics.xml
spark/PayTmChallenge/.idea/**/dictionaries
spark/PayTmChallenge/.idea/**/shelf

spark/PayTmChallenge/.idea/**/dataSources/
spark/PayTmChallenge/.idea/**/dataSources.ids
spark/PayTmChallenge/.idea/**/dataSources.local.xml
spark/PayTmChallenge/.idea/**/sqlDataSources.xml
spark/PayTmChallenge/.idea/**/dynamic.xml
spark/PayTmChallenge/.idea/**/uiDesigner.xml
spark/PayTmChallenge/.idea/**/dbnavigator.xml

spark/PayTmChallenge/.idea/**/gradle.xml
spark/PayTmChallenge/.idea/**/libraries

spark/PayTmChallenge/out/


